

.top-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.bottom-row{
  display: flex;
  justify-content: center;
  gap: 10px;
}


.card {
  padding: 5px;
  border: 1px solid gold;
}